<<<<<<< HEAD
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    background-color: #f4f6f9;
    padding: 40px 20px;
    color: black;
}

/* Contenedor central */
.contenedor {
    max-width: 500px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(35, 14, 14, 0.021);
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 26px;
    margin-bottom: 5px;
}

.subtitulo {
    text-align: center;
    color: #7f8c8d;
    font-size: 14px;
    margin-bottom: 25px;
}


.lista-ejercicios {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lista-ejercicios a {
    display: block;
    padding: 12px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease;
}

.lista-ejercicios a:hover {
    background-color: #2980b9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
=======
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    background-color: #f4f6f9;
    padding: 40px 20px;
    color: black;
}

/* Contenedor central */
.contenedor {
    max-width: 500px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(35, 14, 14, 0.021);
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 26px;
    margin-bottom: 5px;
}

.subtitulo {
    text-align: center;
    color: #7f8c8d;
    font-size: 14px;
    margin-bottom: 25px;
}


.lista-ejercicios {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lista-ejercicios a {
    display: block;
    padding: 12px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease;
}

.lista-ejercicios a:hover {
    background-color: #2980b9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
>>>>>>> 183a9dcbfe5ed22cb20bb8e7acfd30f17f2866b9
}